.top-header{
    font-size:50px; 
    text-align: center;
    font-weight: bold;

  }  
  
  .shopping-cart{
    max-width: 50px;
    box-align:right


  }  
  div.shopping-cart {
    position: fixed;
    top: 0;
    right:0;
    width: 600px; 
 }