.snack-card {
    max-width: 150px;
    
    // flex-flow: wrap;
    background: lightblue;
  }

  // [layout-wrap] {
  //   -webkit-flex-wrap: wrap;
  //       -ms-flex-wrap: wrap;
  //           flex-wrap: wrap;
  // }
.snack-button {
align-self: auto;
 }