<!-- <div fxLayout='row wrap' > -->
  <!-- <div layout="horizontal" layout-align="center center" > -->
      <mat-card class="container" fxLayout="row wrap" fxLayoutWrap>

      <mat-card  class="snack-card"  style="margin:2em;" *ngFor="let snack of snacklist.items" >
          <div mat-card-avatar class="example-header-image"></div>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
         <mat-card-header>
             <mat-card-title>{{snack.name}}
             </mat-card-title>
         </mat-card-header>
         <img mat-card-image src="{{snack.photoUrl}}">   
       
         <mat-card-actions class="snack-button">
           <button >Details</button>
       
         </mat-card-actions>
       
       </mat-card>
          
      </mat-card>
<!-- </div> -->
