.example-card {
  max-width: 700px;
 height:500 ;
}
.title-card  {
  font-size:50px;
 
}
// .title-card {
//   font-size:50px; 
//   font-weight: bold;

// }
.top-header{
  font-size:30px; 
  font-weight: bold;
  text-align: left;
}  
.snack-button{
// align-self: flex-end;
text-align: right;

}