<mat-card class="container" fxLayoutAlign="center center">
<mat-card class="example-card" >
         <mat-card-header  >
            <div class="top-header">
                {{snackDetails.name}}
              </div>
         </mat-card-header>
         <img mat-card-image src="{{snackDetails.photoUrl}}"> 
         <mat-card-content>
            <p>
             {{snackDetails.description}}
            </p> 
          
          </mat-card-content>
          <mat-card-content>

          <b>
             Price: {{snackDetails.price}}
          </b>
          </mat-card-content>
          <mat-card-actions class="snack-button" >
         
              <button >ADD TO BASKET</button>
 
          </mat-card-actions>

          
<!-- </mat-card>
<div ng-controller="CounterController">
    <button (click)="count = {{count}}+1" >
      +
    </button>
     count: {{count}} 
  
    <button (click)="count = {{(count) - 1}}">
      -
    </button>
  <div> -->
